<h1>🏠 Home di Prova - Navigazione</h1>

<div style="
display: flex; flex-direction: column; gap: 10px; max-width: 300px; margin-top: 20px;">
  <!--<button mat-button routerLink="/events">Lista Eventi</button>
  <button mat-button routerLink="/events/1">Evento ID 1</button>
  <button mat-button routerLink="/bookings">Prenotazioni</button>
  <button mat-button routerLink="/bookings/1">Prenotazione ID 1</button>-->
  <button mat-button routerLink="/auth">Login</button>
  <!--<button mat-button routerLink="/registration">Registrazione</button>
  <button mat-button routerLink="/admin">Admin</button>
  <button mat-button routerLink="/preferiti">Preferiti</button>
  <button mat-button routerLink="/profile">Profilo</button>-->
</div>
